<link rel="stylesheet" href="../public/cssFiles/nav.css" >
<nav>
    <!-- <div class="navBox"> -->
        <div class="navButtons">
            <a href="../index">Home</a>
        </div>
        <div class="navButtons">
            <a href="../books">Books</a>
        </div>
        <div class="navButtons">
            <a href="../poems">Poems</a>
        </div>
        <div class="navButtons">
            <a href="../essays">Essays</a>
        </div>
        <div class="navButtons">
            <a href="../movies">Movies</a>
        </div>
    <!-- </div> -->
</nav>