html  {
    height: 100%;
}
body { 
    min-height: 100%;
    margin: 0; 
    overflow: hidden; 
    background-color: #00000f;
    position: relative;
}
.centralEnter {
    position: absolute;
    height: 20px;
    width: 100px;
    top: 50%;
    left: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: darkred;
}
a {
    color: white;
    text-decoration: none;    
}
/* -------------collectionPages-------------*/
.collectionsPages {
    min-height: 100%;
    margin: 0; 
    overflow: hidden; 
    background-color: brown;
    position: relative;
}
.collectionsButtonsBox {
    position: absolute;
    height: 20px;
    width: 60px;
    top: 50%;
    left: 50%;
    display: block;
    justify-content:center;
    align-items:center;
}
.collectionsButtons {
    position: relative;
    margin: 5px;
    height: 20px;
    width: 60px;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: blue;
}
.purpleBox {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    margin-top: 20vh;
    margin-bottom: 30px;
    max-height: 400px;
    overflow: scroll;
    width: 60%;
    border: 3px solid purple;
    padding: 30px;
}