html  {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0; 
    overflow: hidden; 
    background-color: #00000f;
    position: relative;
}
form {
    overflow: scroll;
    height: 100vh;
}
.centralEnter {
    position: absolute;
    height: 20px;
    width: 100px;
    top: 50%;
    left: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: darkred;
}
a {
    color: white;
    text-decoration: none;    
}

.collectionsButtonsBox {
    position: absolute;
    height: 20px;
    width: 60px;
    top: 50%;
    left: 50%;
    display: block;
    justify-content:center;
    align-items:center;
}
.collectionsButtons {
    position: relative;
    margin: 5px;
    height: 20px;
    width: 60px;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: blue;
}
section {
    background-color:red;
    scrollbar-color: blue red;
}