<%- include('./partials/head'); %>
</head>
<body>
<section>

    <div class='spacer'></div> 


    <div class='purpleBox'>
        <h3 style="margin:auto; display: inline;">BOOK DETAILS</h3>
    <br>
 
    <br>      
        <div style="height: 500px;">
            <div>
         

            </div>
        </div>
    </div>

</section>
<%- include ('./partials/footer') %>