<%- include('./partials/head'); %>
</head>
<body class="collectionsPages">
    <div class="collectionsButtonsBox">
        <div class="collectionsButtons">
            <a href="books">Books</a>
        </div>
        <div class="collectionsButtons">
            <a href="poems">Poems</a>
        </div>
        <div class="collectionsButtons">
            <a href="essays">Essays</a>
        </div>
    </div>
    
    <%- include ('./partials/footer') %>