<%- include('./partials/head'); %>
<%- include('./partials/nav'); %>
</head>
<body>
    <div class="centralEnter">
        <a href="retrieved_poem">Poems</a>
    </div>
<%- include ('./partials/footer') %>