<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
</head>
<body>
<div class="centralButtonBox">
    <div class="centralEnter">
        <a href="retrieved_books">Book Details</a>
    </div>
    <div class="centralEnter">
        <a href="bookPresentation">Presentation</a>
    </div>
</div>
<%- include ('../partials/footer') %>