<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
</head>
<body>
<div class="centralButtonBox">
    <div class="centralEnter">
        <a href="retrieved_movies">Movie Details</a>
    </div>
</div>    
<%- include ('../partials/footer') %>>  