<%- include('../partials/head'); %>
<%- include('../partials/nav'); %>
</head>
<body>
<div class="centralButtonBox">
    <div class="centralEnter">
        <a href="retrieved_poems">Poems</a>
    </div>
</div>
<%- include ('../partials/footer') %>